/*
* Barebones V3
* Copyright 2019 Steve Cochran
*
* Based of Skeleton by Dave Gamache
*
* Free to use under the MIT license.
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Media Breakpoints
- Variables
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

/* ENV Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Media breakpoint variables for use in media queries
* 	Note: this section is currently commented out pending release of 
* 	final CSS env() spec
*  Breakpoints based on 
*	 https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
* 
*/

/* media stuff*/
@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }


.grid-container {
	position: relative;
	max-width: var(--grid-max-width);
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	display: grid;
	grid-gap: 20px;
	gap: 20px;
	
	/* by default use min 200px wide columns auto-fit into width */
	grid-template-columns: minmax(200px, 1fr);
}



h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; font-weight:normal; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; font-weight:normal; display: inline-block;}
a { font-size: 1rem; line-height: 1.4; letter-spacing: -.06rem;}

.text {
    text-align:center;
    padding-top: 10px;
    padding-right: 400px;
    padding-bottom: 10px;
    padding-left: 400px;
    /*
    @include for-desktop-up {
        text-align:center;
        padding-top: 30px;
        padding-right: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
    }*/
    word-wrap: normal;
}

.list {
  text-align:center;
  display:inline-block;
  word-wrap:normal;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: inline-block;
  padding: 2.5px;
  word-wrap: normal;
}

pre { 
  /*text-align: center;
  padding-top: 50px;
  padding-right: 400px;
  padding-bottom: 10px;
  padding-left: 400px;*/
  white-space: pre-word;
}

p { 
  word-break: break-all;
  white-space: normal;
  margin-top: 0; 
  font-size:1rem; 
  line-height:0; 
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: var(--accent-color); }
a:hover {
  color: var(--accent-color-hover); }



